/*From https://github.com/jepsar/Jepsar-PrimeFaces-Theme/tree/master/src/main/resources/META-INF/resources/primefaces-jepsar*/

html {
	.ui-icon { text-indent: 0; text-align: center; width: auto; height: auto; }
	.ui-button { overflow: hidden; }
	.ui-button-text-icon-left .ui-icon,
	.ui-button-text-icon-right .ui-icon { top: 0; margin-top: 0; line-height: 1.9em; }
	.ui-button-text-icon-left .ui-icon { padding-right: .2em; }
	.ui-button-text-icon-right .ui-icon { padding-left: .2em; }
	.ui-button-icon-only span { display: block; width: 100%; line-height: 1.8em; }
	.ui-button-icon-only .ui-icon { top: 0; left: 0; margin: 0; }
}
.ui-tree-toggler.ui-icon { width: 1em; height: 1em; }

.ui-icon:before, .ui-paginator > span:before,
html .ui-datepicker .ui-datepicker-prev,
html .ui-datepicker .ui-datepicker-next
{ 
	font-family: "Font Awesome 5 Free"!important;
    font-weight: 900;
}

.ui-icon-carat-1-n:before { content: "\f106"; }
.ui-icon-carat-1-ne:before { content: "?"; }
.ui-icon-carat-1-e:before { content: "\f105"; }
.ui-icon-carat-1-se:before { content: "?"; }
.ui-icon-carat-1-s:before { content: "\f107"; }
.ui-icon-carat-1-sw:before { content: "?"; }
.ui-icon-carat-1-w:before { content: "\f104"; }
.ui-icon-carat-1-nw:before { content: "?"; }
.ui-icon-carat-2-n-s:before { content: "\f0dc"; }
.ui-icon-carat-2-e-w:before { content: "?"; }
.ui-icon-triangle-1-n:before { content: "\f0d8"; }
.ui-icon-triangle-1-ne:before { content: "?"; }
.ui-icon-triangle-1-e:before { content: "\f0da"; }
.ui-icon-triangle-1-se:before { content: "?"; }
.ui-icon-triangle-1-s:before { content: "\f0d7"; }
.ui-icon-triangle-1-sw:before { content: "?"; }
.ui-icon-triangle-1-w:before { content: "\f0d9"; }
.ui-icon-triangle-1-nw:before { content: "?"; }
.ui-icon-triangle-2-n-s:before { content: "\f0dc"; }
.ui-icon-triangle-2-e-w:before { content: "?"; }
.ui-icon-arrow-1-n:before { content: "\f062"; }
.ui-icon-arrow-1-ne:before { content: "?"; }
.ui-icon-arrow-1-e:before { content: "\f061"; }
.ui-icon-arrow-1-se:before { content: "?"; }
.ui-icon-arrow-1-s:before { content: "\f063"; }
.ui-icon-arrow-1-sw:before { content: "?"; }
.ui-icon-arrow-1-w:before { content: "\f060"; }
.ui-icon-arrow-1-nw:before { content: "?"; }
.ui-icon-arrow-2-n-s:before { content: "\f07d"; }
.ui-icon-arrow-2-ne-sw:before { content: "?"; }
.ui-icon-arrow-2-e-w:before { content: "\f07e"; }
.ui-icon-arrow-2-se-nw:before { content: "?"; }
.ui-icon-arrowstop-1-n:before { content: "?"; }
.ui-icon-arrowstop-1-e:before { content: "?"; }
.ui-icon-arrowstop-1-s:before { content: "?"; }
.ui-icon-arrowstop-1-w:before { content: "?"; }
.ui-icon-arrowthick-1-n:before { content: "\f062"; }
.ui-icon-arrowthick-1-ne:before { content: "?"; }
.ui-icon-arrowthick-1-e:before { content: "\f061"; }
.ui-icon-arrowthick-1-se:before { content: "?"; }
.ui-icon-arrowthick-1-s:before { content: "\f063"; }
.ui-icon-arrowthick-1-sw:before { content: "?"; }
.ui-icon-arrowthick-1-w:before { content: "\f060"; }
.ui-icon-arrowthick-1-nw:before { content: "?"; }
.ui-icon-arrowthick-2-n-s:before { content: "\f07d"; }
.ui-icon-arrowthick-2-ne-sw:before { content: "?"; }
.ui-icon-arrowthick-2-e-w:before { content: "\f07e"; }
.ui-icon-arrowthick-2-se-nw:before { content: "?"; }
.ui-icon-arrowthickstop-1-n:before { content: "?"; }
.ui-icon-arrowthickstop-1-e:before { content: "\f051"; }
.ui-icon-arrowthickstop-1-s:before { content: "?"; }
.ui-icon-arrowthickstop-1-w:before { content: "\f048"; }
.ui-icon-arrowreturnthick-1-w:before { content: "\f112"; }
.ui-icon-arrowreturnthick-1-n:before { content: "?"; }
.ui-icon-arrowreturnthick-1-e:before { content: "\f064"; }
.ui-icon-arrowreturnthick-1-s:before { content: "?"; }
.ui-icon-arrowreturn-1-w:before { content: "\f112"; }
.ui-icon-arrowreturn-1-n:before { content: "?"; }
.ui-icon-arrowreturn-1-e:before { content: "\f064"; }
.ui-icon-arrowreturn-1-s:before { content: "?"; }
.ui-icon-arrowrefresh-1-w:before { content: "\f0e2"; }
.ui-icon-arrowrefresh-1-n:before { content: "\f021"; }
.ui-icon-arrowrefresh-1-e:before { content: "\f01e"; }
.ui-icon-arrowrefresh-1-s:before { content: "\f021"; }
.ui-icon-arrow-4:before { content: "\f047"; }
.ui-icon-arrow-4-diag:before { content: "\f0b2"; }
.ui-icon-extlink:before { content: "\f08e"; }
.ui-icon-newwin:before { content: "\f24d"; }
.ui-icon-refresh:before { content: "\f021"; }
.ui-icon-shuffle:before { content: "\f074"; }
.ui-icon-transfer-e-w:before { content: "\f0ec"; }
.ui-icon-transferthick-e-w:before { content: "\f0ec"; }
.ui-icon-folder-collapsed:before { content: "\f114"; }
.ui-icon-folder-open:before { content: "\f115"; }
.ui-icon-document:before { content: "\f016"; }
.ui-icon-document-b:before { content: "\f016"; }
.ui-icon-note:before { content: "\f24a"; }
.ui-icon-mail-closed:before { content: "\f0e0"; }
.ui-icon-mail-open:before { content: "\f003"; }
.ui-icon-suitcase:before { content: "\f0f2"; }
.ui-icon-comment:before { content: "\f0e5"; }
.ui-icon-person:before { content: "\f007"; }
.ui-icon-print:before { content: "\f02f"; }
.ui-icon-trash:before { content: "\f1f8"; }
.ui-icon-locked:before { content: "\f023"; }
.ui-icon-unlocked:before { content: "\f09c"; }
.ui-icon-bookmark:before { content: "\f097"; }
.ui-icon-tag:before { content: "\f02b"; }
.ui-icon-home:before { content: "\f015"; }
.ui-icon-flag:before { content: "\f11d"; }
.ui-icon-calendar:before { content: "\f133"; }
.ui-icon-cart:before { content: "\f07a"; }
.ui-icon-pencil:before { content: "\f040"; }
.ui-icon-clock:before { content: "\f017"; }
.ui-icon-disk:before { content: "\f0c7"; }
.ui-icon-calculator:before { content: "\f1ec"; }
.ui-icon-zoomin:before { content: "\f00e"; }
.ui-icon-zoomout:before { content: "\f010"; }
.ui-icon-search:before { content: "\f002"; }
.ui-icon-wrench:before { content: "\f0ad"; }
.ui-icon-gear:before { content: "\f013"; }
.ui-icon-heart:before { content: "\f004"; }
.ui-icon-star:before { content: "\f005"; }
.ui-icon-link:before { content: "\f0c1"; }
.ui-icon-cancel:before { content: "\f05e"; }
.ui-icon-plus:before { content: "\f067"; }
.ui-icon-plusthick:before { content: "\f067"; }
.ui-icon-minus:before { content: "\f068"; }
.ui-icon-minusthick:before { content: "\f068"; }
.ui-icon-close:before { content: "\f00d"; }
.ui-icon-closethick:before { content: "\f00d"; }
.ui-icon-key:before { content: "\f084"; }
.ui-icon-lightbulb:before { content: "\f0eb"; }
.ui-icon-scissors:before { content: "\f0c4"; }
.ui-icon-clipboard:before { content: "\f0ea"; }
.ui-icon-copy:before { content: "\f0c5"; }
.ui-icon-contact:before { content: "\f007"; }
.ui-icon-image:before { content: "\f03e"; }
.ui-icon-video:before { content: "\f1c8"; }
.ui-icon-script:before { content: "\f121"; }
.ui-icon-alert:before { content: "\f071"; }
.ui-icon-info:before { content: "\f05a"; }
.ui-icon-notice:before { content: "\f12a"; }
.ui-icon-help:before { content: "\f128"; }
.ui-icon-check:before { content: "\f00c"; }
.ui-icon-bullet:before { content: "\f111"; }
.ui-icon-radio-off:before { content: "\f10c"; }
.ui-icon-radio-on:before { content: "\f192"; }
.ui-icon-pin-w:before { content: "?"; }
.ui-icon-pin-s:before { content: "\f08d"; }
.ui-icon-play:before { content: "\f04b"; }
.ui-icon-pause:before { content: "\f04c"; }
.ui-icon-seek-next:before { content: "\f04e"; }
.ui-icon-seek-prev:before { content: "\f04a"; }
.ui-icon-seek-end:before { content: "\f050"; }
.ui-icon-seek-start:before,
.ui-icon-seek-first:before { content: "\f049"; }
.ui-icon-stop:before { content: "\f04d"; }
.ui-icon-eject:before { content: "\f052"; }
.ui-icon-volume-off:before { content: "\f026"; }
.ui-icon-volume-on:before { content: "\f028"; }
.ui-icon-power:before { content: "\f011"; }
.ui-icon-signal-diag:before { content: "\f09e"; }
.ui-icon-signal:before { content: "\f012"; }
.ui-icon-battery-0:before { content: "\f244"; }
.ui-icon-battery-1:before { content: "\f243"; }
.ui-icon-battery-2:before { content: "\f242"; }
.ui-icon-battery-3:before { content: "\f241"; }
.ui-icon-circle-plus:before { content: "\f055"; }
.ui-icon-circle-minus:before { content: "\f056"; }
.ui-icon-circle-close:before { content: "\f057"; }
.ui-icon-circle-triangle-e:before { content: "\f138"; }
.ui-icon-circle-triangle-s:before { content: "\f13a"; }
.ui-icon-circle-triangle-w:before { content: "\f137"; }
.ui-icon-circle-triangle-n:before { content: "\f139"; }
.ui-icon-circle-arrow-e:before { content: "\f0a9"; }
.ui-icon-circle-arrow-s:before { content: "\f0ab"; }
.ui-icon-circle-arrow-w:before { content: "\f0a8"; }
.ui-icon-circle-arrow-n:before { content: "\f0aa"; }
.ui-icon-circle-zoomin:before { content: "\f00e"; }
.ui-icon-circle-zoomout:before { content: "\f010"; }
.ui-icon-circle-check:before { content: "\f058"; }
.ui-icon-circlesmall-plus:before { content: "\f055"; }
.ui-icon-circlesmall-minus:before { content: "\f056"; }
.ui-icon-circlesmall-close:before { content: "\f057"; }
.ui-icon-squaresmall-plus:before { content: "\f0fe"; }
.ui-icon-squaresmall-minus:before { content: "\f146"; }
.ui-icon-squaresmall-close:before { content: "?"; }
.ui-icon-grip-dotted-vertical:before { content: "\f142"; }
.ui-icon-grip-dotted-horizontal:before { content: "\f142"; }
.ui-icon-grip-solid-vertical:before { content: "\f141"; }
.ui-icon-grip-solid-horizontal:before { content: "\f141"; }
.ui-icon-gripsmall-diagonal-se:before { content: "\f141"; }
.ui-icon-grip-diagonal-se:before { content: "\f141"; }

.ui-icon-carat-2-n-s.ui-icon-triangle-1-n:before { content: "\f0de"; }
.ui-icon-carat-2-n-s.ui-icon-triangle-1-s:before { content: "\f0dd"; }

.ui-paginator > span > span { display: none; }
.ui-paginator-first:before { content: "\f049"; }
.ui-paginator-prev:before { content: "\f048"; }
.ui-paginator-next:before { content: "\f051"; }
.ui-paginator-last:before { content: "\f050"; }

.ui-fileupload .ui-icon-arrowreturnthick-1-n:before { content: "\f093"; }

.ui-datepicker .ui-datepicker-prev:before { content: "\f137"; }
.ui-datepicker .ui-datepicker-next:before { content: "\f138"; }

.ui-picklist {
	.ui-icon-arrow-1-e:before { content: "\f105"; }
	.ui-icon-arrowstop-1-e:before { content: "\f101"; }
	.ui-icon-arrow-1-w:before { content: "\f104"; }
	.ui-icon-arrowstop-1-w:before { content: "\f100"; }
}

.ui-chkbox-icon.ui-icon-blank:before { content: "\f00c"; opacity: 0; }

.ui-radiobutton-icon.ui-icon-bullet,
.ui-radiobutton-icon.ui-icon-blank:before { font-size: .5em; margin: .2em 0 0 0 }
.ui-radiobutton-icon.ui-icon-blank:before { content: "\f111"; opacity: 0; }

.ui-spinner-button .ui-icon { width: 14px; font-size: .8em; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next { line-height: 1.8em; text-align: center; }
html .ui-datepicker .ui-datepicker-prev span,
html .ui-datepicker .ui-datepicker-next span { display: none; }

html .ui-accordion .ui-accordion-header .ui-icon { left: .8em; margin-top: -11px; }

.ui-carousel-button.ui-icon, .ui-carousel-page-link.ui-icon { width: 14px; }

.ui-separator .ui-icon { width: 8px; text-align: left; }

.ui-menuitem-icon.ui-icon { width: 1em; margin-right: .25em; }

.ui-breadcrumb {
	ul li a.ui-icon-home {
		margin: 2px .2em 0 .2em; opacity: .5;
		span { display: none; }
	}
}
.ui-breadcrumb-chevron.ui-icon { width: 16px; opacity: .5; margin-top: 3px; }