

@font-face  {
    font-family: "Lato";
    src: url('#{resource["fonts/lato/Lato-Regular.ttf"]}');
}

@font-face  {
    font-family: "Lato";
    src: url('#{resource["fonts/lato/Lato-Bold.ttf"]}');
    font-weight: bold;
}

@font-face  {
    font-family: "Lato";
    src: url('#{resource["fonts/lato/Lato-Italic.ttf"]}');
    font-style: italic;
}

@font-face  {
    font-family: "Lato";
    src: url('#{resource["fonts/lato/Lato-BoldItalic.ttf"]}');
    font-weight: bold;
    font-style: italic;
}

@font-face  {
    font-family: "Lato Medium";
    src: url('#{resource["fonts/lato/Lato-Medium.ttf"]}');
}

@font-face  {
    font-family: "Lato Medium";
    src: url('#{resource["fonts/lato/Lato-MediumItalic.ttf"]}');
    font-style: italic;
}

@font-face  {
    font-family: "Lato Semibold";
    src: url('#{resource["fonts/lato/Lato-Semibold.ttf"]}');
}

@font-face  {
    font-family: "Lato Semibold";
    src: url('#{resource["fonts/lato/Lato-SemiboldItalic.ttf"]}');
    font-style: italic;
}

@font-face  {
    font-family: "Lato Black";
    src: url('#{resource["fonts/lato/Lato-Black.ttf"]}');
}

@font-face  {
    font-family: "Lato Black";
    src: url('#{resource["fonts/lato/Lato-BlackItalic.ttf"]}');
     font-style: italic;
}


h1, h2, h3 , h4, h5, h6 {
    font-family: "Lato Semibold";
}

body, p, .ui-widget, div.wrapper{
    font-family: "Lato Medium";
}

.main-header .logo {
   font-family: "Lato Medium";
   font-size: 23px;
}

.sidebar .ui-widget {
   font-family: "Lato Semibold";
   font-weight: bold;
}

.ui-icon.fa, .ui-widget .ui-icon.fa, .ui-icon.fab, .ui-widget .ui-icon.fab, .ui-icon.fas, .ui-widget .ui-icon.fas, .ui-icon.far, .ui-widget .ui-icon.far, .ui-icon.fal, .ui-widget .ui-icon.fal {
    font-weight: 900;
}

.main-header .sidebar-toggle {
    font-family: "Font Awesome 5 Free"!important;
    font-weight: 900;
}

.main-header .logo .logo-mini {
    margin-top: 7px;
}

.ui-menu {
    width: 18em!important;
}

.myTabview.ui-tabs {
        position: static;
}


.ui-icon .ui-icon-close, .ui-icon .ui-icon-search, .ui-icon .ui-icon-circle-close
			{ text-indent: 0; text-align: center; width: auto; height: auto; }

div.ui-selectcheckboxmenu-trigger span.ui-icon-triangle-1-s:before{
	font-family: "Font Awesome 5 Free"!important;
    font-weight: 900;
    content: "\f0d7"!important;
}


.ui-icon-circle-close:before { content: "\f057"; 
    		font-family: "Font Awesome 5 Free"!important;
    		font-weight: 900;}
    		
.ui-icon-close:before { 
				content: "\f00d"; 
			font-family: "Font Awesome 5 Free"!important;
    		font-weight: 900;}

.ui-g-12, .ui-sm-12 {
                padding-left: 0;
                padding-right: 0;
}

.btn-primary {
    color: #fff !important;
    background-color: #00a65a !important;
    border-color: #008d4c !important;
}