<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html" template="template.xhtml">


        <ui:define name="body">
        <style>
        #forecast-events.ui-menu {
    width: 18em!important;}

     	@media (max-width: 768px) {
                body div.mobile-menus {
                    display:block!important;
                }

                .non-mobile-menus button.ui-button{
                    display: none!important;
                }

                td.optional-for-mobile{
                	display: none!important;	
                }

            }

        @media (min-width: 769px) {
                body div.mobile-menus {
                    display: none!important;
                }

                .non-mobile-menus button.ui-button {
                    display: block!important;
                }

                td.optional-for-mobile{
                	display: block!important;	
                }
            }    
        </style>

        	<div class="ui-g ui-fluid mobile-menus">
        		<h:form>
        		<div class="ui-g-6">
                            <p:menuButton id="forecast-events" value="Add Event" icon="fa fa-bolt">
                                <p:menuitem value="Rate Change" icon="fa fa-percentage"
                                    onclick="PF('dlg').show();" />
                                <p:menuitem value="Bank Fee Change" icon="fa fa-university"
                                    onclick="PF('bank-fees-dlg').show();" />
                                    
                                <ui:insert name="events-menu-extra" />
                                
                                <p:menuitem value="Make Deposit" icon="fa fa-arrow-circle-up"
                                    onclick="PF('deposit-dlg').show();" />
                                <p:menuitem value="Make Withdrawal"
                                    icon="fa fa-arrow-circle-down"
                                    onclick="PF('withdrawal-dlg').show();" />
                            </p:menuButton>      
                 </div>
                 <div class="ui-g-6">             
                             <p:menuButton value="Forecast Options" icon="fa fa-cog">
                                <p:menuitem value="New Forecast" icon="fa fa-plus-circle"
                                    onclick="PF('new-forecast-dlg').show();" />

                                <p:menuitem value="Edit Forecast" icon="fa fa-pencil"
                                    onclick="PF('edit-forecast-dlg').show();" />
                               
                                <p:menuitem value="Save Forecast"
                                    icon="fa fa-save"
                                    onclick="PF('save-forecast-dlg').show();" />
                            </p:menuButton>
                     </div>
                        	</h:form>
                 </div>
        	


			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ui:insert name="info-block-1" />
				</div>
				<!-- /.col -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ui:insert name="info-block-2" />
				</div>
				<!-- /.col -->
				<!-- fix for small devices only -->
				<div class="clearfix visible-sm-block"></div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<ui:insert name="info-block-3" />
				</div>
				<!-- /.col -->
				<div class="col-md-3 col-sm-6 col-xs-12">
					<ui:insert name="info-block-4" />
				</div>
			</div>
			<!-- /.row -->

		         
                <p:tabView styleClass="card no-border myTabview">
                    <p:tab title="Tabular">
                        <f:facet name="actions">
                        <h:form>
                            <p:menuButton id="forecast-events" value="Add Event" icon="fa fa-bolt" class="non-mobile-menus">
                                <p:menuitem value="Rate Change" icon="fa fa-percentage"
                                    onclick="PF('dlg').show();" />
                                <p:menuitem value="Bank Fee Change" icon="fa fa-university"
                                    onclick="PF('bank-fees-dlg').show();" />
                                <ui:insert name="events-menu-extra" />
                                
                                <p:menuitem value="Make Deposit" icon="fa fa-arrow-circle-up"
                                    onclick="PF('deposit-dlg').show();" />
                                <p:menuitem value="Make Withdrawal"
                                    icon="fa fa-arrow-circle-down"
                                    onclick="PF('withdrawal-dlg').show();" />
                            </p:menuButton>                   
                             <p:menuButton value="Forecast Options" icon="fa fa-cog" class="non-mobile-menus">
                                <p:menuitem value="New Forecast" icon="fa fa-plus-circle"
                                    onclick="PF('new-forecast-dlg').show();" />

                                <p:menuitem value="Edit Forecast" icon="fa fa-pencil"
                                    onclick="PF('edit-forecast-dlg').show();" />
                               
                                <p:menuitem value="Save Forecast"
                                    icon="fa fa-save"
                                    onclick="PF('save-forecast-dlg').show();" />
                            </p:menuButton>
                        	</h:form>

						</f:facet>
					<ui:insert name="output-tab-tabular" />
					</p:tab>
					<p:tab title="Graph">
						<ui:insert name="output-tab-graph" />
					</p:tab>
					<ui:insert name="output-tab-extra" />
				</p:tabView>


                <ui:include src="inc/#{inputFormFileName}.xhtml">
          			<ui:param name="submitAction" value="#{eventImpactController.newForecast}" />
          			<ui:param name="widgetVar" value="new-forecast-dlg" />
          			<ui:param name="addInstrumentTitle" value="Add #{instrumentType}" />
					<ui:param name="giveFullForm" value="true" />
        		</ui:include>

        		<ui:include src="inc/#{inputFormFileName}.xhtml">
          			<ui:param name="submitAction" value="#{eventImpactController.openForecast}" />
          			<ui:param name="widgetVar" value="open-forecast-dlg" />
          			<ui:param name="addInstrumentTitle" value="Open #{instrumentType}" />
        		</ui:include>

        		<ui:include src="inc/#{inputFormFileName}.xhtml">
          			<ui:param name="submitAction" value="#{eventImpactController.editForecast}" />
          			<ui:param name="widgetVar" value="edit-forecast-dlg" />
          			<ui:param name="addInstrumentTitle" value="Edit #{instrumentType}" />
          			<ui:param name="giveFullForm" value="true" />
          			<ui:param name="instrument" value="#{eventImpactController.instrument}" />
        		</ui:include>

			<ui:insert name="dialogs" />

		</ui:define>

	</ui:composition>
</body>
</html>