<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h = "http://java.sun.com/jsf/html"
                template="/admin.xhtml">

    <ui:define name="head">
            <title>psyfinance</title>
            <h:outputStylesheet library="webjars" name="font-awesome/5.8.2/css/all.min-jsf.css" />
<h:outputStylesheet library="webjars" name="font-awesome/5.8.2/css/v4-shims.min-jsf.css" />
<h:outputStylesheet library="css" name="psyfinance.css" />
<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
<!-- SFA SFA SFA SFA SFA SFA SFA SFA SFA SFA SFA SFA SFA SFA SFA -->

<style type="text/css">
    .btn-primary, .btn-primary:focus, .btn-primary.focus , .ui-button.ui-state-focus{
    color: #fff !important;
    background-color: #00a65a !important;
    border-color: #008d4c !important;
}

button.ui-button.btn-primary:hover, button.ui-button.btn-primary.ui-state-hover {
    background-color: #008d4c !important;
}
    .psyinput .ui-g-5{
        text-align: right;
    }

    .ui-inputfield.ui-state-focus,.ui-widget-content .ui-inputfield.ui-state-focus,.ui-widget-header .ui-inputfield.ui-state-focus, .ui-selectcheckboxmenu.ui-state-focus, .ui-selectonemenu.ui-state-focus, .ui-button.ui-state-focus, 
    {-moz-box-shadow:0 0 5px #008d4c!important;-webkit-box-shadow:0 0 5px #008d4c!important;box-shadow:0 0 5px #008d4c;border-color:#00a65a!important}

    div.ui-chkbox div.ui-chkbox-box.ui-state-active {
    border: 1px solid #008d4c !important;
    background: #00a65a!important;
    color: #fff;
}
</style>

    </ui:define>

    <ui:define name="logo-lg">
        psyfinance <i class="fa fa-comment-dollar"></i>
    </ui:define>

    <ui:define name="logo-mini">
         <i class="fa fa-comment-dollar fa-2x"></i>
    </ui:define>

    <ui:define name="menu">
        <ul class="sidebar-menu">
            <li>
                <p:link href="#{request.contextPath}/index.xhtml" onclick="clearBreadCrumbs()">
                    <i class="fa fa-user"></i>
                    <span>Home</span>
                </p:link>
            </li>
            <li class="header">
                Investments
            </li>
            <li>
                <p:link href="#{request.contextPath}/investments.xhtml">
                    <i class="fa fa-money"></i>
                    <span>View Investment</span>
                </p:link>
            </li>
            <li>
                <p:link href="#{request.contextPath}/investment/comparison.xhtml">
                    <i class="fa fa-comments-dollar"></i>
                    <span>Investment Comparison</span>
                </p:link>
            </li>
            <li>
                <p:link href="#{request.contextPath}/investment/event-impact.xhtml">
                    <i class="fa fa-bolt"></i>
                    <span>Investment Event Impact</span>
                </p:link>
            </li>

            <li class="header">
                Property Bonds
            </li>
            <li>
                <p:link href="#{request.contextPath}/propertybonds.xhtml">
                    <i class="fa fa-home"></i>
                    <span>View Property Bond</span>
                </p:link>
            </li>
            <li>
            <p:link href="#{request.contextPath}/propertybond/comparison.xhtml">
                    <i class="fa fa-comments-dollar"></i>
                    <span>Bond Comparison</span>
                </p:link>
            </li>
            <li>
                <p:link href="#{request.contextPath}/propertybond/event-impact.xhtml">
                    <i class="fa fa-bolt"></i>
                    <span>Bond Event Impact</span>
                </p:link>
            </li>
            <li>
                <p:link href="#{request.contextPath}/propertybond/true-cost.xhtml">
                    <i class="fa fa-coins"></i>
                    <span>Bond's True Cost</span>
                </p:link>
            </li>

        </ul>
     </ui:define>

    <ui:define name="top-menu">
        <ui:include src="./inc/top-bar.xhtml"/>
    </ui:define>

    <ui:define name="footer">
        <a target="_blank"
           href="https://www.psybergate.com">
             Psybergate Grads' Agile Finance  <i class="fa fa-copyright"></i> 2019
        </a>

        <div class="pull-right hidden-xs" style="color: gray">
            <i>1.0.2.</i><i class="fa fa-poo"></i>
        </div>

        
    </ui:define>

</ui:composition>
</body>
</html>