<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html" template="template.xhtml">

		<ui:define name="body">

		<style type="text/css">
			.ui-icon .ui-icon-close, .ui-icon .ui-icon-search, .ui-icon .ui-icon-circle-close
			{ text-indent: 0; text-align: center; width: auto; height: auto; }

		div.ui-messages span.ui-icon-close:before,	.ui-icon-close:before { 
				content: "\f00d"!important; 
			font-family: "Font Awesome 5 Free"!important;
    		font-weight: 900;}

    		.ui-icon-search:before { content: "\f688"!important;
    	font-family: "Font Awesome 5 Free"!important;
    		font-weight: 900;}

    		.ui-icon-circle-close:before { content: "\f057"; 
    		font-family: "Font Awesome 5 Free"!important;
    		font-weight: 900;}

    	        .ui-menu {
    width: 18em!important;}
       
    .ui-grid-row .ui-grid-col-2,
            .ui-grid-row .ui-grid-col-10 {
                padding: 0.5em 0;
                margin-left: 10px;
            }

            .ui-g-12, .ui-sm-12 {
                padding-left: 0;
                padding-right: 0;
            }

            .ui-datagrid-column .ui-panel.ui-widget-content {
                border: none;
            }

		</style>


		
		  <p:panel id="basic" header="#{panelTitle}"  style="margin-bottom:20px" toggleable="true">
      
        <div class="ui-g ui-fluid">
          <div class="ui-g-6">
             <h:form>
             <h:outputLabel for="multiple" value="#{userInstrumentsLabel}" style="margin-right: 10px"/>
              <p:selectOneMenu id="#{selectBoxID}" value="#{eventImpactController.selected}">
                  <f:selectItem itemLabel="Select One" itemValue="" />
                  <f:selectItems value="#{eventImpactController.choices}" />
                <p:ajax event="change" update="comparisonLineChart"  listener="#{eventImpactController.update}"/>
              </p:selectOneMenu>
          </h:form>
          </div>
          <div class="ui-g-6">
            <h:outputLabel for="multiple" value="or" style="margin-right: 10px"/>
            <p:commandButton value="#{addButtonText}" onclick="PF('#{addWidgetVar}').show();" type="button" icon="fa fa-plus-circle">
                <p:ajax event="dialogReturn"  update="comparisonLineChart" />
          </p:commandButton>
          </div>
        </div>
    </p:panel>

      <p:panel id="graph" style="margin-bottom:20px">
     <p:lineChart id="comparisonLineChart"  model="#{eventImpactController.model}" style="width: 100%; height: 500px;"/>
      </p:panel>

         <ui:include src="inc/#{inputFormFileName}.xhtml">
          <ui:param name="submitAction" value="#{eventImpactController.expression}" />
          <ui:param name="widgetVar" value="#{addWidgetVar}" />
          <ui:param name="addInstrumentTitle" value="#{addInstrumentTitle}" />
        </ui:include>

                 
          <style type="text/css">
       </style>

     
		</ui:define>

	</ui:composition>
</body>
</html>