<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

           
                <p:dialog widgetVar="#{widgetVarName}" modal="true"  appendTo="#{whereToAppend}">
                    <f:facet name="header">
                        <i class="fa fa-#{iconName}"></i> #{headerTitle}
                        </f:facet>
                         <h:form>

                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <label>#{amountLabel}</label>
                        </div>
                        <div class="ui-g-4">
                            <label>#{monthLabel}</label>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <p:inputNumber value="#{eventDialog.amount}"
                                required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
                        emptyValue="0" minValue="0" />
                        </div>
                        <div class="ui-g-4">
                            <p:inputNumber 
                                value="#{eventDialog.month}" required="true" decimalPlaces="0"
                                emptyValue="empty" minValue="1" />
                        </div>

                        <div class="ui-g-4">
                            <p:commandButton value="Submit"
                                action="#{submitEvent}"
                                ajax="false" />
                        </div>
                    </div>
                    </h:form>
                </p:dialog>
            

</ui:composition>
</body>
</html>
