<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

<h:form>
<p:menuButton value="Add Event" icon="fa fa-bolt">
                                <p:menuitem>
                                    <p:commandLink styleClass="ui-menuitem-link" onclick="PF('rate-change-dlg').show();">
                                                <h:outputText styleClass="ui-menuitem-icon fa fa-percentage" />
                                                <h:outputText styleClass="ui-menuitem-text" value="Rate Change" />
                                                <p:ajax event="dialogReturn" update="comparisonLineChart" />
                                    </p:commandLink>
                                </p:menuitem>

                                <p:menuitem value="Bank Fee Change" icon="fa fa-university"
                                    onclick="PF('bank-fees-dlg').show();" >
                                </p:menuitem>

                                <ui:insert name="events-menu-extra" />

                                
                                <p:menuitem value="Make Deposit" icon="fa fa-arrow-circle-up"
                                    onclick="PF('deposit-dlg').show();" >
                                </p:menuitem>

                                <p:menuitem value="Make Withdrawal"
                                    icon="fa fa-arrow-circle-down"
                                    onclick="PF('withdrawal-dlg').show();" >
                                </p:menuitem>      
</p:menuButton>
</h:form>                
                <p:dialog widgetVar="rate-change-dlg" modal="true" appendTo="#{whereToAppend}" >
                    <f:facet name="header">
                        <i class="fa fa-percentage"></i> Change in Interest Rate
                        </f:facet>
                        <h:form>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <label>Interest Rate Change</label>
                        </div>
                        <div class="ui-g-4">
                            <label>Change Month</label>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <p:inputNumber id="interestRateChange" binding="#{rateChange}"
                                required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
                                emptyValue="empty" minValue="0.1" />
                        </div>
                        <div class="ui-g-4">
                            <p:inputNumber id="interestRateChangeMonth"
                                binding="#{rateChangeMonth}" required="true" decimalPlaces="0"
                                emptyValue="empty" minValue="1" />
                        </div>

                        <div class="ui-g-4">
                            <p:commandButton value="Submit"
                                action="#{eventController.addRateChangeEvent(rateChangeMonth.value, rateChange.value)}"
                                oncomplete="rate-change-dlg.hide()" ajax="false" />
                        </div>
                    </div>
                    </h:form>
                </p:dialog>

            
                <p:dialog widgetVar="deposit-dlg" modal="true" appendTo="#{whereToAppend}">
                    <f:facet name="header">
                        <i class="fa fa-arrow-circle-up"></i> Add Deposit
                        </f:facet>
                    <h:form>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <label>Deposit Amount</label>
                        </div>
                        <div class="ui-g-4">
                            <label>Change Month</label>
                        </div>

                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <p:inputNumber id="deposit-amount" binding="#{depositAmount}"
                                required="true" decimalSeparator="," thousandSeparator="&nbsp;"
                                emptyValue="empty" decimalPlaces="2" minValue="0" />
                        </div>
                        <div class="ui-g-4">
                            <p:inputNumber id="depositMonth" binding="#{depositMonth}"
                                required="true" decimalPlaces="0" emptyValue="empty"
                                minValue="1" />
                        </div>

                        <div class="ui-g-4">
                            <p:commandButton value="Submit"
                                action="#{eventController.addDepositEvent(depositMonth.value, depositAmount.value)}"
                                oncomplete="deposit-dlg.hide()"  ajax="false" />
                        </div>
                    </div>
                    </h:form> 
                </p:dialog>



            
                <p:dialog widgetVar="withdrawal-dlg" modal="true" appendTo="#{whereToAppend}" >
                    <f:facet name="header">
                        <i class="fa fa-arrow-circle-down"></i> Add Withdrawal
                    </f:facet>

                <h:form>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <label>Withdrawal Amount</label>
                        </div>
                        <div class="ui-g-4"></div>
                    </div>

                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <p:inputNumber id="withdrawal-amount"
                                binding="#{withdrawalAmount}" required="true" symbol="R "
                                symbolPosition="p" decimalSeparator=","
                                thousandSeparator="&nbsp;" emptyValue="empty" decimalPlaces="2"
                                minValue="0" />
                        </div>
                        <div class="ui-g-4">
                            <p:inputNumber id="withdrawalMonth" binding="#{withdrawalMonth}"
                                required="true" decimalPlaces="0" emptyValue="empty"
                                minValue="1" />
                        </div>
                        <div class="ui-g-4">
                            <p:commandButton value="Submit"
                                action="#{eventController.addWithdrawalEvent(withdrawalMonth.value, withdrawalAmount.value)}"
                                oncomplete="withdrawal-dlg.hide()"  ajax="false" />
                        </div>
                    </div>
            </h:form>
                </p:dialog>

            
    <ui:include src="dialog-add-event-monetary-amount.xhtml">
            <ui:param name="submitEvent" value="#{eventController.events['bankFees']}" />
            <ui:param name="widgetVarName" value="bank-fees-dlg" />
            <ui:param name="updateTarget" value="comparisonLineChart"/>
            <ui:param name="whereToAppend" value="graph" />
            <ui:param name="iconName" value="university" />
            <ui:param name="headerTitle" value="Change in Bank Fees" />
            <ui:param name="amountLabel" value="New Banking Fees" />
            <ui:param name="monthLabel" value="Starting From Month" />
        </ui:include>  
            
            
              <p:dialog header="Change Regular Contribution" widgetVar="contribution-dlg"
                    modal="true" appendTo="#{whereToAppend}">
                    
                    <f:facet name="header">
                        <i class="fa fa-money-bill-wave"></i> Change Regular Contribution
                        </f:facet>

                    <h:form>    

                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <label>New Regular Contribution Amount</label>
                        </div>
                        <div class="ui-g-4">
                            <label>Starting From Month</label>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <p:inputNumber id="contribution-amount"
                                binding="#{contributionAmount}" required="true"
                                decimalSeparator="," thousandSeparator="&nbsp;"
                                emptyValue="empty" decimalPlaces="2" minValue="0" />
                        </div>
                        <div class="ui-g-4">
                            <p:inputNumber id="contribution-month" binding="#{contributionMonth}"
                                required="true" decimalPlaces="0" emptyValue="empty"
                                minValue="1" />
                        </div>
                        <div class="ui-g-4">
                            <p:commandButton value="Submit"
                                action="#{eventController.addMonthlyContributionChangeEvent(contributionMonth.value, contributionAmount.value)}"
                                oncomplete="contribution-dlg.hide()"  ajax="false" />
                        </div>
                    </div>
                    </h:form>
                </p:dialog>

                <ui:insert name="extra-dialogs" />

</ui:composition>
</body>
</html>
