<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    >
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="events-menu.xhtml">

 <ui:define name="events-menu-extra" >
            <p:menuitem value="Change Monthly Contribution"
                                    icon="fa fa-money-bill-wave"
                                    onclick="PF('contribution-dlg').show();" />
</ui:define>

<ui:define name="extra-dialogs"> 

        <ui:include src="dialog-add-event-monetary-amount.xhtml">
            <ui:param name="submitEvent" value="#{investmentEventImpact.monthlyContributionDialogEvent}" />
            <ui:param name="widgetVarName" value="contribution-dlg" />
            <ui:param name="updateTarget" value="comparisonLineChart"/>
            <ui:param name="whereToAppend" value="graph" />
            <ui:param name="iconName" value="money-bill-wave" />
            <ui:param name="headerTitle" value="Change Regular Contribution" />
            <ui:param name="amountLabel" value="New Regular Contribution Amount" />
            <ui:param name="monthLabel" value="Starting From Month" />
        </ui:include>  
</ui:define>
</ui:composition>
</body>
</html>
