<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="events-menu.xhtml">


 <ui:define name="events-menu-extra" >
            <p:menuitem value="Change Monthly Repayment"
                                    icon="fa fa-money-bill-wave"
                                    onclick="PF('repayment-dlg').show();" />
            <p:menuitem value="Pay Minimum Repayment"
                                    icon="fa fa-less-than-equal"
                                    onclick="PF('minimum-repayment-dlg').show();" />




</ui:define>

<ui:define name="extra-dialogs"> 

 <ui:include src="dialog-add-event-monetary-amount.xhtml">
            <ui:param name="submitEvent" value="#{propertyBondEventImpact.events['monthlyRepayment']}" />
            <ui:param name="widgetVarName" value="repayment-dlg" />
            <ui:param name="updateTarget" value="comparisonLineChart"/>
            <ui:param name="whereToAppend" value="graph" />
            <ui:param name="iconName" value="money-bill-wave" />
            <ui:param name="headerTitle" value="Change Regular Repayment" />
            <ui:param name="amountLabel" value="New Repayment Amount" />
            <ui:param name="monthLabel" value="Starting From Month" />
        </ui:include>  

                    <h:form>
                <p:dialog header="Pay Minimum Repayment" widgetVar="minimum-repayment-dlg"
                    modal="true">
                    <f:facet name="header">
                        <i class="fa fa-less-than-equal"></i> Pay Minimum Repayment
                        </f:facet>

                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <label>Starting in month</label>
                        </div>
                        <div class="ui-g-4">
                            <label>Ending in month</label>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <p:inputNumber id="minRepaymentStartMonth" binding="#{minRepaymentStart}"
                                required="true" decimalPlaces="0" emptyValue="empty"
                                minValue="1" />
                        </div>
                        <div class="ui-g-4">
                            <p:inputNumber id="minRepaymentEndMonth" binding="#{minRepaymentEnd}"
                                required="true" decimalPlaces="0" emptyValue="empty" />
                        </div>
                        <div class="ui-g-4">
                            <p:commandButton value="Submit"
                                action="#{eventController.useMinimumRepayment(minRepaymentStart.value, minRepaymentEnd.value)}"
                                ajax="false" />
                        </div>
                    </div>
                </p:dialog>
            </h:form>

</ui:define>


</ui:composition>
</body>
</html>
