<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

<div class="info-box">
                        <span class="info-box-icon bg-#{colour}"><i
                            class="fa fa-#{iconName}"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">#{title}</span> 
                            <span class="info-box-number">
                                <h:outputText value="#{stats}">
                                    <f:convertNumber currencySymbol="" type="currency" locale="sv" />
                                </h:outputText>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->

</ui:composition>
</body>
</html>
