<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

<p:dialog header="#{addInstrumentTitle}" widgetVar="#{widgetVar}" resizable="false" responsive="true"
                          modal="true" appendTo="@(body)" width="350" styleClass="card">
<h:form>

<c:if test="#{not empty instrument}">
    <c:set value="#{instrument}"  target="#{propertyBondDialog}"  property="propertyBond" />

</c:if>
                   <div class="ui-g ui-fluid psyinput">

               <div class="ui-g-5" >  <p:outputLabel value="Purchase Price:"/></div>
                <div class="ui-g-7"><p:inputNumber 
                        value="#{propertyBondDialog.purchasePrice}" required="true"
                        decimalSeparator="," thousandSeparator="&nbsp;" emptyValue="0"
                        decimalPlaces="2" minValue="0" /> </div>


                <div class="ui-g-5"> <p:outputLabel value="Interest Rate:"/></div>
                <div class="ui-g-7"><p:inputNumber 
                        value="#{propertyBondDialog.nominalRate}"
                        required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
                        emptyValue="0" minValue="0.1" /> </div>

                 <div class="ui-g-5"><p:outputLabel value="Term:"/> </div>
                 <div class="ui-g-7"><p:inputNumber 
                        value="#{propertyBondDialog.termInMonths}" required="true"
                        emptyValue="0" decimalPlaces="0" minValue="1" /> </div>

                 <div class="ui-g-5"><p:outputLabel value="Initial Deposit: " /></div>
                 <div class="ui-g-7"><p:inputNumber 
                        value="#{propertyBondDialog.initialDepositRate}"
                        required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
                        emptyValue="0" minValue="0" /> </div>

                 <div class="ui-g-5"><p:outputLabel value="Repayment: " /></div>
                 <div class="ui-g-7"><p:inputNumber
                        value="#{propertyBondDialog.monthlyRepayment}" required="true"
                        decimalSeparator="," thousandSeparator="&nbsp;" emptyValue="0"
                        decimalPlaces="2" minValue="0" /> </div>

                 <div class="ui-g-5"><p:outputLabel value="Bank Fees: " /></div>
                <div class="ui-g-7"><p:inputNumber
                        value="#{propertyBondDialog.bankFees}" required="true"
                        decimalSeparator="," thousandSeparator="&nbsp;" emptyValue="0"
                        decimalPlaces="2" minValue="0" /> </div>

                 

            <c:if test="#{giveFullForm}">
             <div class="ui-g-5">
                    <p:outputLabel  value="Bond Costs: " />
            </div>
            <div class="ui-g-7">
                <p:inputNumber
                    value="#{propertyBondDialog.bondCostsRate}"
                    required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
                    emptyValue="0" minValue="0" />
            </div>
            <div class="ui-g-5">
                <p:outputLabel  value="Legal Fees: " />
            </div>
            <div class="ui-g-7">
                <p:inputNumber 
                    value="#{propertyBondDialog.legalFeesRate}"
                    required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
                    emptyValue="0" minValue="0" />
            </div>

            </c:if>      

                  <div class="ui-g-12">
                            <p:commandButton value="Calculate" icon="fa fa-fw fa-calculator"  oncomplete="#{widgetVar}.hide()" action="#{submitAction}" styleClass="btn-primary" ajax="false"/>
                        </div>
                  </div>
                </h:form>
            </p:dialog>
</ui:composition>
</body>
</html>
