<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:pe="http://primefaces.org/ui/extensions">

<c:if test="#{not empty instrument}">
    <c:set value="#{instrument}"  target="#{investmentDialog}"  property="investment" />

</c:if>

<p:dialog header="#{addInstrumentTitle}" widgetVar="#{widgetVar}" resizable="false" responsive="true"  modal="true" appendTo="@(body)" width="350" styleClass="card">
<h:form>
<f:facet name="header">
<i class="fa fa-file-invoice-dollar"></i> #{addInstrumentTitle}
</f:facet>
 <div class="ui-g ui-fluid psyinput">
 <div class="ui-g-5" >  <p:outputLabel value="Initial Deposit:"/></div>
                <div class="ui-g-7"><p:inputNumber 
                        value="#{investmentDialog.initialDeposit}" required="true" decimalSeparator=","
                        thousandSeparator="&nbsp;" emptyValue="0" decimalPlaces="2"
                        minValue="0" /> </div>


                <div class="ui-g-5"> <p:outputLabel value="Nominal Rate:"/></div>
                <div class="ui-g-7"><p:inputNumber 
                        value="#{investmentDialog.nominalRate}"
                        required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
                        emptyValue="empty" minValue="0.1"/> </div>

                 <div class="ui-g-5"><p:outputLabel value="Term:"/> </div>
                 <div class="ui-g-7"> <p:inputNumber 
                        value="#{investmentDialog.termInMonths}" required="true"
                        emptyValue="empty" decimalPlaces="0" minValue="1" /> </div>


                 <div class="ui-g-5"><p:outputLabel value="Monthly Contribution:" /></div>
                 <div class="ui-g-7"> <p:inputNumber
                        value="#{investmentDialog.monthlyContribution}" symbolPosition="p"
                        decimalSeparator="," thousandSeparator="&nbsp;" emptyValue="empty"
                        decimalPlaces="2" minValue="0" /> </div>

                 <div class="ui-g-5"><p:outputLabel  value="Bank Fees:" /></div>
                <div class="ui-g-7"> <p:inputNumber 
                        value="#{investmentDialog.bankFees}" required="false" decimalSeparator=","
                        thousandSeparator="&nbsp;" emptyValue="empty" decimalPlaces="2"
                        minValue="0" /> </div>

                  <div class="ui-g-12">
                            <p:commandButton value="Calculate" ajax="false" icon="fa fa-fw fa-calculator" oncomplete="#{widgetVar}.hide()" action="#{submitAction}" styleClass="btn-primary" />
                        </div>
      </div>
</h:form>
</p:dialog>
</ui:composition>
</body>
</html>
