<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions">

    <style type="text/css">
        #layout-menu_menu {
            z-index: 9997!important;
        }
        #layout-menu_menu span.ui-menuitem-text {
            margin-left: 2px;
        }
    </style>
    <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user-circle fa-2x" style="line-height: 0.3;float: right;
    margin-top: 7px;  margin-left: 7px;"></i>
                <span class="hidden-xs">#{logonMB.currentUser}</span>
            </a>
            <ul class="dropdown-menu">
                <li class="user-header">
                    <div class="hidden-xs">
                        <pe:gravatar style="border-radius: 50%"
                                     value=""/>
                    </div>
                    <p>
                        #{logonMB.currentUser}
                        <small>#{logonMB.email}</small>
                    </p>
                </li>
                <li class="user-footer">
                    <h:form prependId="false">
                        <div class="pull-right">
                            <p:commandLink id="logout" action="#{logoutMB.doLogout}" title="Logoff">
                                <i class="fa fa-sign-out fa-2x"></i>
                            </p:commandLink>
                        </div>
                    </h:form>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a id="layout-setup" href="#" class="#{adminConfig.controlSidebar.showOnMobile ? '':'hidden-sm hidden-xs'}" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li> -->

    </ul>

</ui:composition>
</body>
</html>