<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		template="../WEB-INF/templates/event-impact-template.xhtml">

		<ui:define name="title">
        Property Bond Events Impact
    </ui:define>

		<ui:param name="eventImpactController"
			value="#{propertyBondEventImpact}" />
		<ui:param name="panelTitle" value="Property Bond Events Impact" />
		<ui:param name="selectBoxID" value="propertybonds" />
		<ui:param name="userInstrumentsLabel" value="Your Property Bonds" />
		<ui:param name="inputFormFileName" value="input-form-property-bond" />
		<ui:param name="eventsMenuFileName" value="events-menu-property-bonds" />
		<ui:param name="addButtonText" value="Add Property Bond" />
		<ui:param name="addInstrumentTitle" value="Add Property Bond" />
		<ui:param name="addWidgetVar" value="new-property-bond-dlg" />
	</ui:composition>
</body>
</html>