<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		template="../WEB-INF/templates/event-impact-template.xhtml">

		<ui:define name="title">
        Investments Comparison
    </ui:define>

    <ui:param name="eventImpactController" value="#{investmentEventImpact}" />
    <ui:param name="panelTitle" value="Investment Events Impact" />
    <ui:param name="selectBoxID" value="investments" />
    <ui:param name="userInstrumentsLabel" value="Your Investments" />
    <ui:param name="inputFormFileName" value="input-form-investment" />
    <ui:param name="eventsMenuFileName" value="events-menu-investment" />
    <ui:param name="addButtonText" value="Add Investment" />
    <ui:param name="addInstrumentTitle" value="Add Investment" />
    <ui:param name="addWidgetVar" value="new-investment-dlg" />

		
	</ui:composition>
</body>
</html>