<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		template="/WEB-INF/templates/template.xhtml">

		<!--            
    <ui:define name="title">
        Psybergate Agile Finance Project
    </ui:define> -->

		<ui:define name="body">
			<h1>Psybergate Agile Finance Project</h1>


			<p>This a digital computation tool used to forecast projections
				on Investments and Property Bonds. This is an excellent tool
				designed for potential borrowers or lenders that want to receive
				comprehensive breakdowns of their bonds or investments with exact
				figures relating to interest, return rates, monthly repayments,
				opening and closing balances on a monthly basis.</p>

			<h2>Property Bonds</h2>
			<p>Allows a borrower to project how much the monthly payment will
				be on a loan and how long it will take to repay the borrowed amount.
				The Property Bond forecaster factors in the repayment of interest
				and principal on the loan to determine how long it will take to pay
				off, to use to see if they will be able to afford the monthly
				payment on the loan.</p>

			<h2>Investments</h2>
			<p>Allows a lender to determine how much their money can grow
				using the power of compound interest.</p>
		</ui:define>

	</ui:composition>
</body>
</html>