<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		template="/WEB-INF/templates/template.xhtml">

		<ui:define name="title">
			<span style="font-family: 'Lato SemiBold'; float: left;">
				Welcome Back #{customerController.customer.fullName} </span>
			<i class="fa fa-comment-dollar"
				style="float: left; margin-left: 10px; margin-top: -2px;"></i>
		</ui:define>

		<ui:define name="body">

			<style type="text/css">
.value {
	font-weight: bold;
}

.ui-datatable {
	margin-bottom: 25px
}

.ui-datatable .ui-datatable-footer {
	text-align: left;
}

.ui-datalist ul {
	padding: 0 0 0 10px;
	margin: 5px 0;
}

.ui-datatable .ui-button-icon-only .ui-button-text {
	padding: 0;
	line-height: 1.2;
}
</style>

			<h:panelGrid columns="2">
				<p:panel header="Investment Forecasts" styleClass="card no-border"
					toggleable="true" toggleSpeed="300"
					style="margin-bottom:20px; margin-right:10px;  display: inline-block;">
					<h:form class="input-form">
						<p:dataTable id="singleDT" var="investmentForecast"
							value="#{customerController.customer.investments}"
							selectionMode="single"
							selection="#{customerController.selectedInvestmentForecast}"
							rowKey="#{investmentForecast.name}">
							<p:ajax event="rowSelect"
								listener="#{customerController.onInvestmentRowSelect}" />

							<p:column>
								<h:outputText style="font-weight:bold"
									value="#{customerController.getInvestmentName(investmentForecast)} -&emsp;" />

								<h:outputText style="color: #00A4CC"
									value="(Closing Balance: #{customerController.getInvestmentClosingBalance(investmentForecast)},&emsp;" />


								<h:outputText style="color: #00A65A"
									value="Cumalitive Interest: #{customerController.getInvestmentCummalitiveInterest(investmentForecast)},&emsp;" />

								<h:outputText style="color: #912619"
									value="Effective Rate: #{customerController.getInvestmentEffectiveRate(investmentForecast)},&emsp;" />


								<h:outputText style="color: #B87409"
									value="Total Bank Fees:  #{customerController.getInvestmentBankingFees(investmentForecast)})" />



							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<p:panel header="Property Bond Forecasts"
					styleClass="card no-border" toggleable="true" toggleSpeed="300"
					style="margin-bottom:20px; margin-right:10px;  display: inline-block;">
					<h:form class="input-form">
						<p:dataTable id="singleDT" var="propertyBondForecast"
							value="#{customerController.customer.propertyBonds}"
							selectionMode="single"
							selection="#{customerController.selectedPropertyBondForecast}"
							rowKey="#{propertyBondForecast.name}">
							<p:ajax event="rowSelect"
								listener="#{customerController.onPropertyBondRowSelect}" />

							<p:column>
								<h:outputText style="font-weight:bold"
									value="#{customerController.getPropertyBondName(propertyBondForecast)} -&emsp;" />

								<h:outputText style="color: #00A4CC"
									value="(Total Repayment: #{customerController.getPropertyBondTotalBondCost(propertyBondForecast)},&emsp;" />


								<h:outputText style="color: #00A65A"
									value="#{customerController.getFinalMonthTitle(propertyBondForecast)}, " />

								<h:outputText style="color: #00A65A"
									value="#{customerController.getFinalMonthBody(propertyBondForecast)},&emsp;" />


								<h:outputText style="color: #912619"
									value="Cumalitive Interest:  #{customerController.getPropertyBondCumalitiveInterest(propertyBondForecast)}),&emsp;" />

								<h:outputText style="color: #B87409"
									value="Total Cash Required Upfront:  #{customerController.getPropertyBondTotalCashRequiredUpfornt(propertyBondForecast)  }) " />


							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>






			</h:panelGrid>
		</ui:define>
	</ui:composition>
</body>
</html>