<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		template="/WEB-INF/templates/forecast-template.xhtml">



		<ui:param name="eventImpactController" value="#{investmentController}" />
    <ui:param name="inputFormFileName" value="input-form-investment" />
    <ui:param name="instrumentType" value="Investment" />

		<ui:define name="title">
        Investments Calculator
    </ui:define>

		<ui:define name="input-panel-header">
        #{investmentController.investmentTitle} Details
    </ui:define>


		<ui:define name="input-panel-form">
			<div class="ui-g">
				<div class="ui-g-2">
					<label>Initial Deposit: &nbsp;</label>
				</div>
				<div class="ui-g-2">
					<label>Nominal Rate: &nbsp;</label>
				</div>
				<div class="ui-g-2">
					<label>Term (in months): &nbsp;</label>
				</div>
				<div class="ui-g-2">
					<label>Monthly Contribution: &nbsp;</label>
				</div>
				<div class="ui-g-2">
					<label>Monthly Bank Fee: &nbsp;</label>
				</div>
			</div>

			<div class="ui-g ui-fluid">
				<div class="ui-g-2">
					<p:inputNumber id="deposit"
						value="#{investmentController.principal}" required="true"
						decimalSeparator="," thousandSeparator="&nbsp;" emptyValue="0"
						decimalPlaces="2" minValue="0" />
				</div>

				<div class="ui-g-2">
					<p:inputNumber id="interestRate"
						value="#{investmentController.nominalRatePercentage}"
						required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
						emptyValue="empty" />
				</div>
				<div class="ui-g-2">
					<p:inputNumber id="term"
						value="#{investmentController.termInMonths}" required="true"
						emptyValue="1" decimalPlaces="0" minValue="1" />
				</div>

				<div class="ui-g-2">
					<p:inputNumber id="monthlyContribution"
						value="#{investmentController.monthlyContribution}"
						symbolPosition="p" decimalSeparator="," thousandSeparator="&nbsp;"
						emptyValue="0" decimalPlaces="2" minValue="0" />
				</div>

				<div class="ui-g-2">
					<p:inputNumber id="bankFees"
						value="#{investmentController.bankFees}" required="false"
						decimalSeparator="," thousandSeparator="&nbsp;" emptyValue="0"
						decimalPlaces="2" minValue="0" />
				</div>

				<div class="ui-g-2">
					<p:commandButton value="Calculate" id="investment-update"
						action="#{investmentController.update}" style="margin-right:20px;"
						ajax="false" icon="fa fa-fw fa-calculator" />
				</div>
			</div>
		</ui:define>


		<ui:define name="info-block-1">
			<ui:include
				src="/WEB-INF/templates/inc/info-block-monetary-amount.xhtml">
				<ui:param name="colour" value="aqua" />
				<ui:param name="iconName" value="file-invoice-dollar" />
				<ui:param name="title" value="Final Balance" />
				<ui:param name="stats"
					value="#{investmentController.closingBalance}" />
			</ui:include>
		</ui:define>

		<ui:define name="info-block-2">
			<ui:include
				src="/WEB-INF/templates/inc/info-block-monetary-amount.xhtml">
				<ui:param name="colour" value="green" />
				<ui:param name="iconName" value="money-bill-alt" />
				<ui:param name="title" value="Total Interest Earned" />
				<ui:param name="stats"
					value="#{investmentController.cumalitiveInterest}" />
			</ui:include>
		</ui:define>


		<ui:define name="info-block-3">
			<ui:include src="/WEB-INF/templates/inc/info-block-percentage.xhtml">
				<ui:param name="colour" value="red" />
				<ui:param name="iconName" value="chart-line" />
				<ui:param name="title" value="Effective Rate" />
				<ui:param name="stats" value="#{investmentController.effectiveRate}" />
			</ui:include>
		</ui:define>

		<ui:define name="info-block-4">
			<ui:include
				src="/WEB-INF/templates/inc/info-block-monetary-amount.xhtml">
				<ui:param name="colour" value="yellow" />
				<ui:param name="iconName" value="university" />
				<ui:param name="title" value="Total Bank Fees" />
				<ui:param name="stats" value="#{investmentController.totalBankFees}" />
			</ui:include>
		</ui:define>


		<ui:define name="output-tab-tabular">

			<p:dataTable var="month" value="#{investmentController.months}"
				rowIndexVar="index" style="text-align: right; display:inline-block">

				<p:column  headerText="Month">
					<h:outputText value="#{index + 1}" />
				</p:column>

				 <p:column headerText="Nominal Rate" priority="6">
       				 <h:outputText value="#{month.nominalRate}">
            			<f:convertNumber type="percent" maxFractionDigits="3" />
        			</h:outputText>
    			 </p:column>
    
			<p:column headerText="Opening" priority="2">
        		<ui:include src="/WEB-INF/templates/inc/monetary-amount.xhtml">
            		<ui:param name="amount" value="#{month.opening}" />
        		</ui:include>
    		</p:column>


	<p:column headerText="Contribution" priority="4">
        <ui:include src="/WEB-INF/templates/inc/monetary-amount.xhtml">
            <ui:param name="amount" value="#{month.monthlyContribution}" />
        </ui:include>
    </p:column>

	<p:column headerText="Deposits" priority="3">
        <ui:include src="/WEB-INF/templates/inc/monetary-amount.xhtml">
            <ui:param name="amount" value="#{month.totalDepositAmount}" />
        </ui:include>
    </p:column>

    <p:column headerText="Withdrawals" priority="3">
        <ui:include src="/WEB-INF/templates/inc/monetary-amount.xhtml">
            <ui:param name="amount" value="#{month.totalWithdrawalAmount}" />
        </ui:include>
    </p:column>

    <p:column headerText="Interest" priority="2">
        <ui:include src="/WEB-INF/templates/inc/monetary-amount.xhtml">
            <ui:param name="amount" value="#{month.interest}" />
        </ui:include>
    </p:column>

    <p:column headerText="Bank Fees" priority="4">
        <ui:include src="/WEB-INF/templates/inc/monetary-amount.xhtml">
            <ui:param name="amount" value="#{month.bankFees}" />
        </ui:include>
    </p:column>


				<ui:include
					src="/WEB-INF/templates/inc/column-monetary-amount.xhtml">
					<ui:param name="header" value="Closing Balance" />
					<ui:param name="amount" value="#{month.closing}" />
				</ui:include>

			</p:dataTable>
		</ui:define>

		<ui:define name="events-menu-extra">
			<p:menuitem value="Change Monthly Contribution"
				icon="fa fa-money-bill-wave"
				onclick="PF('contribution-dlg').show();" />
		</ui:define>

		<ui:define name="output-tab-graph">
			<p:chart type="line" model="#{investmentController.lineModel}"
				style="height:400px;" widgetVar="chart" />
		</ui:define>

		<ui:define name="dialogs">

			<p:dialog widgetVar="save-forecast-dlg" modal="true" appendTo="">
				<f:facet name="header">
					<i class="fa fa-save"></i> Save Investment
            	</f:facet>

				<h:form>
					<div class="ui-g ui-fluid">
						<div class="ui-g-9">
							<label>Provide a name for this investment.</label>
						</div>
					</div>

					<div class="ui-g ui-fluid">
						<div class="ui-g-9">
							<p:inputText id="investmentName" value="#{investmentController.name}" required="true"
								emptyValue="empty" />
						</div>

						<div class="ui-g-3">
							<p:commandButton value="Save"
								action="#{investmentController.addInvestment}"
								oncomplete="save-investment-dlg.hide()" ajax="false" />
						</div>
					</div>
				</h:form>
			</p:dialog>

			<h:form>
				<p:dialog widgetVar="dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-percentage"></i> Change in Interest Rate
                        </f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Interest Rate Change</label>
						</div>
						<div class="ui-g-4">
							<label>Starting in Month</label>
						</div>
					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="interestRateChange" binding="#{rateChange}"
								required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
								emptyValue="empty" minValue="0.1" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="interestRateChangeMonth"
								binding="#{rateChangeMonth}" required="true" decimalPlaces="0"
								emptyValue="empty" minValue="1" />
						</div>

						<div class="ui-g-4">
							<p:commandButton value="Change"
								action="#{investmentController.addRateChangeEvent(rateChangeMonth.value, rateChange.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>

			<h:form>
				<p:dialog widgetVar="deposit-dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-arrow-circle-up"></i> Make Deposit
                        </f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Deposit Amount</label>
						</div>
						<div class="ui-g-4">
							<label>Made in Month</label>
						</div>

					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="deposit-amount" binding="#{depositAmount}"
								required="true" decimalSeparator="," thousandSeparator="&nbsp;"
								emptyValue="empty" decimalPlaces="2" minValue="0" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="depositMonth" binding="#{depositMonth}"
								required="true" decimalPlaces="0" emptyValue="empty"
								minValue="1" />
						</div>

						<div class="ui-g-4">
							<p:commandButton value="Deposit"
								action="#{investmentController.addDepositEvent(depositMonth.value, depositAmount.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>


			<h:form>
				<p:dialog widgetVar="withdrawal-dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-arrow-circle-down"></i> Make Withdrawal
                    </f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Withdrawal Amount</label>
						</div>
						<div class="ui-g-4">
							<label>Made in Month</label>
						</div>
					</div>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="withdrawal-amount"
								binding="#{withdrawalAmount}" required="true"  decimalSeparator=","
								thousandSeparator="&nbsp;" emptyValue="empty" decimalPlaces="2"
								minValue="0" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="withdrawalMonth" binding="#{withdrawalMonth}"
								required="true" decimalPlaces="0" emptyValue="empty"
								minValue="1" />
						</div>
						<div class="ui-g-4">
							<p:commandButton value="Withdraw"
								action="#{investmentController.addWithdrawalEvent(withdrawalMonth.value, withdrawalAmount.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>

			<h:form>
				<p:dialog header="Change Bank Fees" widgetVar="bank-fees-dlg"
					modal="true">
					<f:facet name="header">
						<i class="fa fa-university"></i> Change in Bank Fees
                        </f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Banking Fees Amount</label>
						</div>
						<div class="ui-g-4">
							<label>Starting in Month</label>
						</div>
					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="bank-fees-amount"
								binding="#{bankingFeesAmount}" required="true"
								decimalSeparator="," thousandSeparator="&nbsp;"
								emptyValue="empty" decimalPlaces="2" minValue="0" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="bankFeesMonth" binding="#{bankingFeesMonth}"
								required="true" decimalPlaces="0" emptyValue="empty"
								minValue="1" />
						</div>
						<div class="ui-g-4">
							<p:commandButton value="Change"
								action="#{investmentController.addBankFeesEvent(bankingFeesMonth.value, bankingFeesAmount.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>

			<h:form>
				<p:dialog header="Change Regular Contribution"
					widgetVar="contribution-dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-money-bill-wave"></i> Change Regular Contribution
						</f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>New Regular Contribution Amount</label>
						</div>
						<div class="ui-g-4">
							<label>Starting From Month</label>
						</div>
					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="contribution-amount"
								binding="#{contributionAmount}" required="true"
								decimalSeparator="," thousandSeparator="&nbsp;"
								emptyValue="empty" decimalPlaces="2"
								minValue="${-1*investmentController.monthlyContribution}" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="contribution-month"
								binding="#{contributionMonth}" required="true" decimalPlaces="0"
								emptyValue="empty" minValue="1" />
						</div>
						<div class="ui-g-4">
							<p:commandButton value="Change"
								action="#{investmentController.addMonthlyContributionChangeEvent(contributionMonth.value, contributionAmount.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>
		</ui:define>


	</ui:composition>
</body>
</html>