<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:adm="http://github.com/adminfaces"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>psyfinance</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon.ico']}"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-16x16.png']}" sizes="16x16"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-32x32.png']}" sizes="32x32"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-96x96.png']}" sizes="96x96"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['favicon/favicon-144x144.png']}" sizes="144x144"/>
        <meta name="theme-color" content="#444"/>
        <meta name="mobile-web-app-capable" content="yes"/>

          <h:outputStylesheet library="webjars" name="font-awesome/5.8.2/css/all.min-jsf.css" />
<h:outputStylesheet library="webjars" name="font-awesome/5.8.2/css/v4-shims.min-jsf.css" />

<h:outputStylesheet library="css" name="psyfinance.css" />
<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
        <style type="text/css">
            body .load-bar {
               margin-top: -20px;
            }   
            /* below css hides growls in small screens and makes messages visible */
            @media (max-width: 768px) {
                body div.ui-growl {
                    display: none;
                }
                body div.ui-messages {
                    display: block;
                }
            }
            
           /* below css hides messages in medium/big devices and makes growl visible in such devices */
            @media (min-width: 769px) {
                body div.ui-growl {
                    display: block;
                }
                body div.ui-messages {
                    display: none;
                }
            }
            body.login-page {
                background-color: transparent;
            }
            html {
                background: url(#{resource[ 'images:jhb.jpg' ]}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
			
			@media (max-width: 768px) {
				 html {
				     background-image: url(#{resource[ 'images:jhb.jpg' ]});
				 }
			}

            body.login-page .login-logo {
                margin: 20px;
                text-align: center;
                font-size: 52px;
                font-weight: 500;
                
            }

            .login-logo a, .register-logo a {
                color: #FFF!important;
            }
            
        </style>
    </h:head>

    <h:body styleClass="hold-transition login-page">
        <p:growl sticky="true">
			<p:autoUpdate/>
		</p:growl>
        <div id="loader" class="load-bar" style="display: none">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <p:dialog id="adminStatusDialog" modal="true" widgetVar="statusDialog" draggable="false" closable="false"
                  resizable="false" responsive="true" showHeader="false" appendTo="@(body)">
            <p:graphicImage library="images" name="#{adminConfig.loadingImage}"/>
        </p:dialog>

        <div class="login-box" >
            <div class="login-logo">
                <p:link href="index.xhtml"><b>psyfinance</b> <i class="fa fa-comment-dollar" style="margin-left:2px"></i></p:link>
            </div> 
            <!-- /.login-logo -->
            <div class="box login-box-body" style="padding-bottom:10px">
                <h:form>
                    <p class="login-box-msg">Sign in to start your session</p>
                    <p:messages closable="true"/>

                    <div class="form-group has-feedback">
                        <p:inputText value="#{logonMB.email}" type="email" styleClass="form-control" placeholder="Email"
                                     required="true"
                                     requiredMessage="Email is required."/>
                        <i class="fa fa-user form-control-feedback" ></i>
                    </div>
                    <div class="row">
                        <!--<div class="col-xs-12">
                             <p:selectBooleanCheckbox itemLabel="Remember Me" value="#{logonMB.remember}"/>
                        </div>
                        <p:spacer height="10"/> -->
                        <div class="col-xs-12">
                            <p:commandButton styleClass="btn btn-success btn-block" action="#{logonMB.login}" onclick="showBar()" oncomplete="hideBar()"
                                             value="Sign In" update="@form"/>
                        </div>
                    </div>
                </h:form>

               <p:commandLink style="float: left; text-align: center; width: 100%; margin-top: 10px; padding: 5px" onclick="PF('registration').show();return false;" >
        <h:outputText value="Register as a new customer" />
    </p:commandLink> 
 <p:spacer height="1"/>
            </div>
            <!-- /.login-box-body -->
        </div>

        <p:dialog header="Register As A New Customer" widgetVar="registration" resizable="false" responsive="true" modal="true" appendTo="@(body)" width="350" styleClass="card">
<h:form>
 <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <p:inputText id="customerName" value="#{logonMB.customerName}" styleClass="form-control" placeholder="Full Name"
                                     required="true"
                                     requiredMessage="Full Name is required." />
                </div>
                <div class="ui-g-12"><p:inputText id="customerEmail" value="#{logonMB.email}" type="email" styleClass="form-control" placeholder="Email"
                                     required="true"
                                     requiredMessage="Email is required." /></div>

                  <div class="ui-g-12">
                            <p:commandButton value="Register" id="registerCustomer" icon="fa fa-fw fa-user-plus" oncomplete="registration.hide()" action="#{logonMB.register}" />
                        </div>
      </div>
</h:form>
</p:dialog>

        <adm:ripple />
        <h:outputScript library="js" name="admintemplate.js" target="head"/>
    </h:body>
</html>