<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:p="http://primefaces.org/ui"
		xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
		xmlns:f="http://java.sun.com/jsf/core"
		template="/WEB-INF/templates/forecast-template.xhtml">


    <ui:param name="eventImpactController" value="#{propertyBondController}" />
    <ui:param name="inputFormFileName" value="input-form-property-bond" />
    <ui:param name="instrumentType" value="Property Bond" />

		<ui:define name="title">
	        Property Bonds Calculator
	    </ui:define>

		<ui:define name="input-panel-header">
        		#{propertyBondController.propertyBondTitle} Details
    	</ui:define>

		<ui:define name="info-block-1">
			<ui:include
				src="/WEB-INF/templates/inc/info-block-monetary-amount.xhtml">
				<ui:param name="colour" value="aqua" />
				<ui:param name="iconName" value="money" />
				<ui:param name="title" value="Total Repayment Cost" />
				<ui:param name="stats"
					value="#{propertyBondController.totalBondCost}" />
			</ui:include>

		</ui:define>

		<ui:define name="info-block-2">

			<ui:include src="/WEB-INF/templates/inc/info-block.xhtml">
				<ui:param name="colour"
					value="#{propertyBondController.calendarColour}" />
				<ui:param name="iconName"
					value="#{propertyBondController.calendarIcon}" />
				<ui:param name="title"
					value="#{propertyBondController.finalMonthTitle}" />
				<ui:param name="stats"
					value="#{propertyBondController.finalMonthBody}" />
			</ui:include>
		</ui:define>

		<ui:define name="info-block-3">
			<ui:include
				src="/WEB-INF/templates/inc/info-block-monetary-amount.xhtml">
				<ui:param name="colour" value="red" />
				<ui:param name="iconName" value="money-check-alt" />
				<ui:param name="title" value="Total Interest Paid" />
				<ui:param name="stats"
					value="#{propertyBondController.cumalitiveInterest}" />
			</ui:include>
		</ui:define>


		<ui:define name="info-block-4">
			<ui:include
				src="/WEB-INF/templates/inc/info-block-monetary-amount.xhtml">
				<ui:param name="colour" value="yellow" />
				<ui:param name="iconName" value="hand-holding-usd" />
				<ui:param name="title" value="Cash Required Upfront" />
				<ui:param name="stats"
					value="#{propertyBondController.totalCashRequiredUpfront}" />
			</ui:include>
		</ui:define>


		<ui:define name="output-tab-tabular">

			<p:dataTable var="month" value="#{propertyBondController.months}"
				rowIndexVar="index" style="text-align: right; display:inline-block">

				<p:column headerText="Month">
					<h:outputText value="#{index + 1}" />
				</p:column>

				<ui:include
					src="/WEB-INF/templates/inc/column-monetary-amount.xhtml">
					<ui:param name="header" value="Opening" />
					<ui:param name="amount" value="#{month.opening}" />
					<ui:param name="priority" value="1" />
				</ui:include>

				<ui:include
					src="/WEB-INF/templates/inc/column-monetary-amount.xhtml">
					<ui:param name="header" value="Deposits" />
					<ui:param name="amount" value="#{month.totalDepositAmount}" />
					<ui:param name="priority" value="3" />
				</ui:include>

				<ui:include
					src="/WEB-INF/templates/inc/column-monetary-amount.xhtml">
					<ui:param name="header" value="Withdrawals" />
					<ui:param name="amount" value="#{month.totalWithdrawalAmount}" />
					<ui:param name="priority" value="3" />
				</ui:include>


				<ui:include src="/WEB-INF/templates/inc/column-percentage.xhtml">
					<ui:param name="header" value="Nominal Rate" />
					<ui:param name="rate" value="#{month.nominalRate}" />
					<ui:param name="priority" value="4" />
				</ui:include>

				<ui:include
					src="/WEB-INF/templates/inc/column-monetary-amount.xhtml">
					<ui:param name="header" value="Interest" />
					<ui:param name="amount" value="#{month.interest}" />
					<ui:param name="priority" value="2" />
				</ui:include>


				<ui:include
					src="/WEB-INF/templates/inc/column-monetary-amount.xhtml">
					<ui:param name="header" value="Bank Fees" />
					<ui:param name="amount" value="#{month.bankFees}" />
					<ui:param name="priority" value="4" />
				</ui:include>

				<ui:include
					src="/WEB-INF/templates/inc/column-monetary-amount.xhtml">
					<ui:param name="header" value="Repayment" />
					<ui:param name="amount" value="#{month.repayment}" />
					<ui:param name="priority" value="3" />
				</ui:include>

				<ui:include
					src="/WEB-INF/templates/inc/column-monetary-amount.xhtml">
					<ui:param name="header" value="Closing" />
					<ui:param name="amount" value="#{month.closing}" />
					<ui:param name="priority" value="1" />
				</ui:include>

			</p:dataTable>
		</ui:define>

		<ui:define name="output-tab-graph">
			<p:chart type="line" model="#{propertyBondController.lineModel}"
				style="height:400px;" widgetVar="chart" />
		</ui:define>

		<ui:define name="output-tab-extra">
			<p:tab title="Stats">
				<div class="ui-g">
					<div class="ui-g-6">
						<p:pieChart
							model="#{propertyBondController.totalBondCostPieModel}"
							style="width: 100%; height: 300px;" />
					</div>
					<div class="ui-g-6">
						<p:pieChart model="#{propertyBondController.upfrontCashPieModel}"
							style="width: 100%; height: 300px;" />
					</div>
				</div>

				<div class="ui-g">

					<div class="ui-g-6">
						<h4>
							Total Property Bond Cost:<br />
							<h:outputText value="#{propertyBondController.totalBondCost}">
								<f:convertNumber currencySymbol="" type="currency" locale="sv" />
							</h:outputText>
						</h4>
					</div>
					<div class="ui-g-6">
						<h4>
							Total Cash Required Upfront: <br />
							<h:outputText
								value="#{propertyBondController.totalCashRequiredUpfront}">
								<f:convertNumber currencySymbol="" type="currency" locale="sv" />
							</h:outputText>
						</h4>
					</div>
				</div>

			</p:tab>
		</ui:define>

		<ui:define name="events-menu-extra">
			<p:menuitem value="Change Monthly Repayment"
				icon="fa fa-money-bill-wave" onclick="PF('repayment-dlg').show();" />
			<p:menuitem value="Pay Minimum Repayment"
				icon="fa fa-less-than-equal"
				onclick="PF('minimum-repayment-dlg').show();" />
		</ui:define>

		<ui:define name="dialogs">

			<p:dialog widgetVar="save-forecast-dlg" modal="true"
				appendTo="@(body)">
				<f:facet name="header">
					<i class="fa fa-save"></i> Save Property Bond
            	</f:facet>

				<h:form>
					<div class="ui-g ui-fluid">
						<div class="ui-g-9">
							<label>Provide a name for this property bond.</label>
						</div>
					</div>

					<div class="ui-g ui-fluid">
						<div class="ui-g-9">
							<p:inputText id="propertyBondName"
								value="#{propertyBondController.name}" required="true"
								emptyValue="empty" />
						</div>

						<div class="ui-g-3">
							<p:commandButton value="Save"
								action="#{propertyBondController.addPropertyBond}"
								oncomplete="save-property-bonds-dlg.hide()" ajax="false" />
						</div>
					</div>
				</h:form>
			</p:dialog>

			<h:form>
				<p:dialog widgetVar="dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-percentage"></i> Change in Nominal Rate
						</f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Nominal Rate Change</label>
						</div>
						<div class="ui-g-4">
							<label>Starting From Month</label>
						</div>
					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="interestRateChange" binding="#{rateChange}"
								required="true" symbol="%" symbolPosition="s" decimalPlaces="1"
								emptyValue="empty" minValue="0.1" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="interestRateChangeMonth"
								binding="#{rateChangeMonth}" required="true" decimalPlaces="0"
								emptyValue="empty" minValue="1" />
						</div>

						<div class="ui-g-4">
							<p:commandButton value="Change"
								action="#{propertyBondController.addRateChangeEvent(rateChangeMonth.value, rateChange.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>

			<h:form>
				<p:dialog widgetVar="deposit-dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-arrow-circle-up"></i> Make Deposit
						</f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Deposit Amount</label>
						</div>
						<div class="ui-g-4">
							<label>Made in Month</label>
						</div>

					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="deposit-amount" binding="#{depositAmount}"
								required="true" decimalSeparator="," thousandSeparator="&nbsp;"
								emptyValue="empty" decimalPlaces="2" minValue="0" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="depositMonth" binding="#{depositMonth}"
								required="true" decimalPlaces="0" emptyValue="empty"
								minValue="1" />
						</div>

						<div class="ui-g-4">
							<p:commandButton value="Deposit"
								action="#{propertyBondController.addDepositEvent(depositMonth.value, depositAmount.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>


			<h:form>
				<p:dialog widgetVar="withdrawal-dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-arrow-circle-down"></i> Make Withdrawal
					</f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Withdrawal Amount</label>
						</div>
						<div class="ui-g-4">
							<label>Made In Month</label>
						</div>
					</div>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="withdrawal-amount"
								binding="#{withdrawalAmount}" required="true"
								decimalSeparator="," thousandSeparator="&nbsp;"
								emptyValue="empty" decimalPlaces="2" minValue="0" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="withdrawalMonth" binding="#{withdrawalMonth}"
								required="true" decimalPlaces="0" emptyValue="empty"
								minValue="1" />
						</div>
						<div class="ui-g-4">
							<p:commandButton value="Withdraw"
								action="#{propertyBondController.addWithdrawalEvent(withdrawalMonth.value, withdrawalAmount.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>

			<h:form>
				<p:dialog header="Change Regular Repayment"
					widgetVar="repayment-dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-money-bill-wave"></i> Change Regular Repayment
						</f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>New Repayment Amount</label>
						</div>
						<div class="ui-g-4">
							<label>Starting From Month</label>
						</div>
					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="repayment-amount" binding="#{repaymentAmount}"
								required="true" decimalSeparator="," thousandSeparator="&nbsp;"
								emptyValue="empty" decimalPlaces="2"
								minValue="${-1*propertyBondController.monthlyRepayment}" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="repaymentMonth" binding="#{repaymentMonth}"
								required="true" decimalPlaces="0" emptyValue="empty"
								minValue="1" />
						</div>
						<div class="ui-g-4">
							<p:commandButton value="Change"
								action="#{propertyBondController.addMonthlyRepaymentChangeEvent(repaymentMonth.value, repaymentAmount.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>

			<h:form>
				<p:dialog header="Change Bank Fees" widgetVar="bank-fees-dlg"
					modal="true">
					<f:facet name="header">
						<i class="fa fa-university"></i> Change in Bank Fees
						</f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Banking Fees Amount</label>
						</div>
						<div class="ui-g-4">
							<label>Starting From Month</label>
						</div>
					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="bank-fees-amount"
								binding="#{bankingFeesAmount}" required="true"
								decimalSeparator="," thousandSeparator="&nbsp;"
								emptyValue="empty" decimalPlaces="2" minValue="0" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="bankFeesMonth" binding="#{bankingFeesMonth}"
								required="true" decimalPlaces="0" emptyValue="empty"
								minValue="1" />
						</div>
						<div class="ui-g-4">
							<p:commandButton value="Change"
								action="#{propertyBondController.addBankFeesEvent(bankingFeesMonth.value, bankingFeesAmount.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>


			<h:form>
				<p:dialog header="Pay Minimum Repayment"
					widgetVar="minimum-repayment-dlg" modal="true">
					<f:facet name="header">
						<i class="fa fa-less-than-equal"></i> Pay Minimum Repayment
						</f:facet>

					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<label>Starting in month</label>
						</div>
						<div class="ui-g-4">
							<label>Ending in month</label>
						</div>
					</div>
					<div class="ui-g ui-fluid">
						<div class="ui-g-4">
							<p:inputNumber id="minRepaymentStartMonth"
								binding="#{minRepaymentStart}" required="true" decimalPlaces="0"
								emptyValue="empty" minValue="1" />
						</div>
						<div class="ui-g-4">
							<p:inputNumber id="minRepaymentEndMonth"
								binding="#{minRepaymentEnd}" required="true" decimalPlaces="0"
								emptyValue="empty" minValue="#{minRepaymentStart.value}"
								maxValue="#{propertyBondController.termInMonths}" />
						</div>
						<div class="ui-g-4">
							<p:commandButton value="Change"
								action="#{propertyBondController.useMinimumRepayment(minRepaymentStart.value, minRepaymentEnd.value)}"
								ajax="false" />
						</div>
					</div>
				</p:dialog>
			</h:form>


		</ui:define>

	</ui:composition>
</body>
</html>